{#
/**
 * Short Free Text - DSFR Theme
 * Type: S (Short Free Text)
 *
 * Simple input text avec style DSFR (CSS uniquement)
 *
 * @var $extraclass
 * @var $name           Field name
 * @var $basename       Base name for IDs
 * @var $prefix         Prefix text
 * @var $suffix         Suffix text
 * @var $kpclass        Keypress class
 * @var $tiwidth        Text input width
 * @var $dispVal        Display value
 * @var $placeholder    Placeholder text
 * @var $maxlength      Max length
 * @var $inputsize      Input size attribute
 * @var $numberonly     Number only validation
 * @var $checkconditionFunction
 */
#}

<!-- DSFR Input - Structure native LimeSurvey avec style DSFR -->
{% if withColumn %}
<div class='{{ coreClass }} fr-grid-row'>
    <div class="{{ extraclass }}">
{% else %}
<div class='{{ coreClass }} {{ extraclass }}'>
{% endif %}

    {# Prefix #}
    {% if prefix != '' %}
        <span class="input-prefix">{{ processString(prefix) }}</span>
    {% endif %}

    {# Input avec classe DSFR pour le style #}
    <input
        class="fr-input {{ kpclass }}"
        type="text"
        name="{{ name }}"
        id="answer{{ name }}"
        value="{{ dispVal }}"
        placeholder="{{ flatString(processString(placeholder,1),1) }}"
        {% if inputsize %}size="{{ inputsize }}" {% endif %}
        {% if maxlength %}maxlength="{{ maxlength }}" {% endif %}
        {% if numberonly %}data-number="1" {% endif %}
        aria-labelledby="ls-question-text-{{ basename }}"
    />

    {# Suffix #}
    {% if suffix %}
        <span class="input-suffix">{{ processString(suffix) }}</span>
    {% endif %}

{% if withColumn %}
    </div>
</div>
{% else %}
</div>
{% endif %}

<!-- end of answer -->
