{#
/**
 * List Radio with Comment - DSFR Theme
 * Radio buttons list with comment textarea
 *
 * Variables available:
 * @var $name
 * @var $value
 * @var $sRows
 * @var $commentText
 */
#}

<!-- List with comment, DSFR style -->
{{ sTimer }}

<div class="fr-grid-row fr-grid-row--gutters">
    <!-- Radio list column -->
    <div class="fr-col-12 fr-col-md-6">
        <fieldset class="fr-fieldset {{ coreClass }}" aria-labelledby="ls-question-text-{{ name }}">
            <legend class="fr-sr-only">
                {{ gT('Please choose one of the following options') }}
            </legend>
            <div class="fr-fieldset__content">
                {{ sRows }}
            </div>
        </fieldset>

        {# Value for expression manager javascript #}
        {{ C.Html.hiddenField("java"~name,value,({
            'id' : "java"~name,
            'disabled' : true,
        })) }}
    </div>

    <!-- Comment column -->
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-input-group">
            <label class="fr-label" for="answer{{ name }}comment">
                {{ commentText|default(gT('Please enter your comment here:')) }}
            </label>
            <textarea
                id="answer{{ name }}comment"
                class="fr-input"
                rows="4"
                name="{{ name }}comment"
            ></textarea>
        </div>
    </div>
</div>

<!-- end of answer -->
