{#
/**
 * Array Increase/Same/Decrease Question - DSFR Theme
 * Type: E (Array Increase/Same/Decrease)
 *
 * This template renders a table with Increase/Same/Decrease options
 *
 * @var $name           Question name
 * @var $aSubQuestions  Array of subquestions
 * @var $basename       Base name for aria labels
 */
#}

<!-- Array Increase/Same/Decrease (Type E) - DSFR -->
<div class="fr-table fr-table--bordered fr-table--responsive">
    {% if help %}
        <div class="fr-hint-text fr-mb-2w">{{ help }}</div>
    {% endif %}

    <table class="array-isd-table">
        <thead>
            <tr>
                <th scope="col" class="col-answers"></th>
                <th scope="col" class="col-responses fr-text--center">
                    <span class="fr-icon-arrow-up-line fr-mr-1w" aria-hidden="true"></span>
                    {{ gT('Increase') }}
                </th>
                <th scope="col" class="col-responses fr-text--center">
                    <span class="fr-icon-arrow-right-line fr-mr-1w" aria-hidden="true"></span>
                    {{ gT('Same') }}
                </th>
                <th scope="col" class="col-responses fr-text--center">
                    <span class="fr-icon-arrow-down-line fr-mr-1w" aria-hidden="true"></span>
                    {{ gT('Decrease') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for subquestion in aSubQuestions %}
                <tr class="answers-row">
                    <th scope="row" class="answertext">
                        {{ subquestion.question }}
                    </th>
                    <!-- Increase -->
                    <td class="answer-item fr-text--center">
                        <div class="fr-radio-group">
                            <input
                                type="radio"
                                name="{{ name }}{{ subquestion.title }}"
                                id="answer{{ name }}{{ subquestion.title }}-I"
                                value="I"
                                {% if attribute(_answers, subquestion.title) == 'I' %}checked="checked"{% endif %}
                                class="fr-radio-input"
                            />
                            <label for="answer{{ name }}{{ subquestion.title }}-I" class="fr-label fr-sr-only">
                                {{ subquestion.question }} - {{ gT('Increase') }}
                            </label>
                        </div>
                    </td>
                    <!-- Same -->
                    <td class="answer-item fr-text--center">
                        <div class="fr-radio-group">
                            <input
                                type="radio"
                                name="{{ name }}{{ subquestion.title }}"
                                id="answer{{ name }}{{ subquestion.title }}-S"
                                value="S"
                                {% if attribute(_answers, subquestion.title) == 'S' %}checked="checked"{% endif %}
                                class="fr-radio-input"
                            />
                            <label for="answer{{ name }}{{ subquestion.title }}-S" class="fr-label fr-sr-only">
                                {{ subquestion.question }} - {{ gT('Same') }}
                            </label>
                        </div>
                    </td>
                    <!-- Decrease -->
                    <td class="answer-item fr-text--center">
                        <div class="fr-radio-group">
                            <input
                                type="radio"
                                name="{{ name }}{{ subquestion.title }}"
                                id="answer{{ name }}{{ subquestion.title }}-D"
                                value="D"
                                {% if attribute(_answers, subquestion.title) == 'D' %}checked="checked"{% endif %}
                                class="fr-radio-input"
                            />
                            <label for="answer{{ name }}{{ subquestion.title }}-D" class="fr-label fr-sr-only">
                                {{ subquestion.question }} - {{ gT('Decrease') }}
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- end of Array Increase/Same/Decrease -->
