{#
/**
 * 5-Point Choice Row - DSFR Rich Radio (tile style, no icon)
 */
#}

<!-- item_row -->
<div class="fr-col-auto">
    <div class="fr-radio-group fr-radio-rich {{itemExtraClass}}">
        <input type="radio" name="{{name}}" id="answer{{id}}" value="{{value}}" {{checkedState}}>
        <label class="fr-label" for="answer{{id}}">{{labelText}}</label>
    </div>
</div>
<!-- end of item_row -->
